{require_otp_vsn, "17|18"}.
{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars]}.
{eunit_opts, [verbose]}.
{deps, [
    { proper_eunit, "^1\\.[1-9](\\..*|)$",
        {git, "git://github.com/liskin/proper_eunit.git",
            {branch, "master"}
        }
    }
]}.
{edoc_opts, [
	{preprocess, true},
	{todo, true}
]}.
